<section class="section customDiv sectionHelp section-extended left aqua">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <!-- Step -->
                <div class="feature feature-1 mb-md-0 animated" data-animation="pulse">
                    <div class="feature-icon icon icon-primary">
                        <i class="ti ti-shopping-cart"></i>
                    </div>
                    <div class="feature-content">
                        <h4 class="mb-2 infoHelp">
                            <a href="menu-list-collapse.html">Elige tus platillos</a>
                        </h4>
                        <p class="mb-2">{{restaurante_nombre}} tienen gran variedad de platillos para ofrecerte,
                             selecciona los que más te guste dando click al boton de añadir al carrito.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <!-- Step -->
                <div class="feature feature-1 mb-md-0 animated" data-animation="pulse" data-animation-delay="300">
                    <div class="feature-icon icon icon-primary">
                        <i class="ti-time"></i>
                    </div>
                    <div class="feature-content">
                        <h4 class="mb-2">Aguarda por tu tentempié</h4>
                        <p class="mb-0">Mientras esta tu orden, disruta del paisaje o una buena charla, no te preocupes estámos preparando tú pedido.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <!-- Step -->
                <div class="feature feature-1 mb-md-0 animated" data-animation="pulse" data-animation-delay="600">
                    <div class="feature-icon icon icon-primary">
                        <i class="ti-gift"></i>
                    </div>
                    <div class="feature-content">
                        <h4 class="mb-2">Aquí esta tu orden!</h4>
                        <p class="text-muted mb-3">Tu orden esta lista, en breve te la llevamos a la mesa {{mesa_id}}, así de simple, SwiftService...
                            <i class="em em-wink"></i>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>